<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         printerFile="./vendor/whatthejeff/nyancat-phpunit-resultprinter/src/NyanCat/PHPUnit/ResultPrinter.php"
         printerClass="NyanCat\PHPunit\ResultPrinter"
         bootstrap="autoload.php">

    <php>
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="root" />
        <var name="DB_DBNAME" value="pwtest" />
    </php>

    <testsuites>
        <testsuite name="wireshell Test Suite">
            <directory suffix=".php">Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
