/* insert logo above menu */
.wy-menu.wy-menu-vertical:before {
    content: '';
    display: inline-block;
    background: url(../img/logo.svg) no-repeat;
    margin-left: 1.6em;
}

/* do not display nested headline in menu bar except h2 */
.wy-menu-vertical .toctree-l4,
.wy-menu-vertical .toctree-l5,
.wy-menu-vertical .toctree-l6 {
  display: none;
}

code.bash {
  margin-bottom: 2rem;
  font-size: .9rem;
}

/* simulate headline */
img + strong {
  font-size: 150%;
  padding-left: .5rem;
  font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
  vertical-align: middle;
}

/* mediaquery @media screen and (max-width: 768px) logo, don't upscale it */
.logo {
  width: auto;
}

